[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
toml = "*"
fastapi = "*"
sqlalchemy = "*"
asyncpg = "*"
alembic = "*"
hypercorn = "*"
pydantic = "*"
httpx = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.9"
